@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Columbus';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ColumbusPlain001000-R026.ttf'); /* IE9 Compat Modes */
  src: local(''), url('/fonts/ColumbusPlain001000-R026.ttf') format('truetype');
}